{% extends "blog/master.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block section %}
<section class="error-page">
    <div class="container">
        <div class="error-content-wrapper text-center">
            <div class="error-content">
            {% comment %} <img src="media/background/error.png" alt="error"> {% endcomment %}
                <h2 class="error-title">Anda telah logout</h2>
                <p>Silahkan login untuk melakukan pengajuan lagi.</p><a href="{% url 'login' %}" class="pix-btn">Log In
                    Kembali</a>
            </div>
        </div>
    </div>
</section>
{% endblock section %}